<md-toolbar color="accent" style="padding-top:114px">
  <p small>Lista de Compras</p>
</md-toolbar>
<div style="max-width:700px;margin:0 auto;">
  <md-nav-list>
    <md-list-item *ngFor="let compra of compras;"
      (click)="abrirCompra(compra.id)"> {{compra.data}}
      <span class="fill-remaining-space">{{compra.id}}</span>
      <span class="fill-remaining-space">R$ {{compra.preco}}</span>
      <button md-icon-button (click)="excluirCompra(compra.id)">
        <i class="material-icons">delete</i>
      </button>
    </md-list-item>
  </md-nav-list>
</div>
