<md-toolbar color="accent" style="padding-top:114px">
  <p small>Lista de Produtos</p>
  <div style="max-width:700px;margin:0 auto;">
    <a md-fab routerLink="/produtos-detalhe" color="warn" class="button_add">
      <i class="material-icons">add</i>
    </a>
  </div>
</md-toolbar>
<div style="max-width:700px;margin:0 auto;">
  <md-nav-list>
    <md-list-item> OMO com Toque de Comfort Dourado em Pó
      <span class="fill-remaining-space"></span>
      <button md-icon-button (click)="excluirProduto(id)">
        <i class="material-icons">delete</i>
      </button>
    </md-list-item>
    <md-list-item> Escova Dental Oral-B Pro-Saúde Ultrafino
      <span class="fill-remaining-space"></span>
      <button md-icon-button (click)="excluirProduto(id)">
        <i class="material-icons">delete</i>
      </button>
    </md-list-item>
    <md-list-item> Bis Branco
      <span class="fill-remaining-space"></span>
      <button md-icon-button (click)="excluirProduto(id)">
        <i class="material-icons">delete</i>
      </button>
    </md-list-item>
  </md-nav-list>
</div>
