<div class="conteudo" style="padding:10px;max-width:700px;margin:0 auto;padding-top:112px">
<h3 style="text-align:center">
UNISC - Universidade de Santa Cruz do Sul<br/>
Trabalho Prático I<br/>
Professor: Márcio Alexandre Pacheco<br/>
Disciplina: Sistemas Embarcados 2017.1<br/>
Alunos: Diego Cardoso, Felipe Turcato, Guilherme Zaleski<br/>
</h3>
<p style="text-indent: 50px;text-align:justify">
Supermercado é um grande comércio tradicional de alimentos, com um sistema
de autosserviço que oferece uma grande variedade de alimentos e produtos domésticos,
organizados em corredores. É maior em tamanho e tem uma vasta seleção de uma
mercearia tradicional, mas é menor e mais limitado na gama de mercadorias do que
um hipermercado.
</p>
<p style="text-indent: 50px;text-align:justify">
Até o surgimento dos supermercados ocorrido primeiramente nos Estados
Unidos durante os anos 1930 a comercialização de alimentos e produtos de
higiene e limpeza era feita por simples comércios, formados predominantemente por
pequenas lojas especializadas, tais como mercearias, empórios, açougues, quitandas,
lojas de secos e molhados, feiras livres entre outras. O sistema operacional era o de
atendimento pessoal: vendedores e balconistas de um lado do balcão e clientes do outro.
O atendente recebia o cliente e ia selecionando os produtos que ele pedia. O fado de
abobrinhas cada cliente precisar se atendido por um funcionário e este ter de selecionar
cada item pedido diminuía significantemente a capacidade de atendimentos dos
estabelecimentos e tornava o custo operacional alto.</p>
<p style="text-indent: 50px;text-align:justify">
O desemprego, o declínio da renda e a redução do poder de compra — fatores
que acompanharam a depressão do início da década de 30, como o Crash da Bolsa de
Nova York —, foram devastadores. A indústria começou a desenvolver produtos mais
baratos e o comerciante começou a encontrar um modo de revender os produtos com a
margem que lhe permitisse cobrir seus custos operacionais. A solução veio em galpões
antigos ou de indústrias falidas e em áreas distantes das tradicionais de mercado, onde
os alugueis eram mais caros. Pensando na economia, os empregados que antes atendiam
os clientes foram dispensados, agora os próprios consumidor se encarregaria de escolher
e transportar suas mercadorias. Na saída dos galpões, uma caixa registradora era usada
para somar os itens e efetuar o pagamento da conta, assim surgia o supermercado.
</p>


<h3 style="text-align:center">
Descrição do projeto – Smart Supermarket
</h3>
<p style="text-indent: 50px;text-align:justify">
  O trabalho consiste em desenvolver um sistema que automatize o processo de
  compras de um supermercado permitindo que o cliente realize o seu atendimento sem a
  intervenção humana de colaboradores do estabelecimento. O projeto deve prever as
  seguintes características:
</p>
<p style="text-indent: 70px;text-align:justify">
  1. Desenvolver um software que:
</p>
<p style="text-indent: 80px;text-align:justify;">
a. Implemente uma tela que permita cadastrar, em tag RFID,
informações de um determinado produto (ID). Deve-se prever
pelo menos 5 itens no cadastro;</p>
<p style="text-indent: 80px;text-align:justify">
b. Implemente uma tela que permita ao usuário consultar o valor do
produto a qualquer momento (mesmo sem realizar a compra). A
consulta consiste em aproximar a tag próximo ao leitor RFID
instalado junto ao sistema embarcado;</p>
<p style="text-indent: 80px;text-align:justify">
c. Implemente uma tela que permita ao usuário realizar a compra
dos itens sem a necessidade de auxílio de terceiros. Essa tela deve
prever o início da compra, a contabilização do total comprado e
uma opção para finalizar a venda.
</p>
<p style="text-indent: 70px;text-align:justify">
  2. Implementar em um sistema embarcado a interface de leitura das
informações da tag RFID;
</p>
<p style="text-indent: 70px;text-align:justify">
  3. A comunicação entre o software e o sistema embarcado deve ser
realizada por RS232, com baudrate de 9600 kbps;
</p>
<p style="text-indent: 70px;text-align:justify">
  4. Prever recurso de exibição dos dados do produto em um display LCD
(avaliar a necessidade de comunicar-se ou não com a base de dados
criada no front-end);
</p>

<h3 style="text-align:center">
Terminal de Compras
</h3>
<img src="assets/img/terminal_compra.png" style="max-width:100%"/>

<h3 style="text-align:center">
Terminal de Consulta
</h3>
<img src="assets/img/terminal_consulta.png" style="max-width:100%" />

</div>
