<md-toolbar color="accent" style="padding-top:114px">
  <p small>Itens Compra</p>
  <div style="max-width:700px;margin:0 auto;">
    <a md-fab routerLink="/compras" color="warn" class="button_return">
      <i class="material-icons">keyboard_return</i>
    </a>
  </div>
</md-toolbar>
<div style="max-width:700px;margin:0 auto;">
  <md-nav-list>
    <md-list-item *ngFor="let item of itensCompra;">
      <span class="fill-remaining-space">{{item.id_produto}}</span>
      <span class="fill-remaining-space">{{item.produto}}</span>
      <span class="fill-remaining-space">R$ {{item.preco}}</span>
    </md-list-item>
  </md-nav-list>
</div>
